<nav class="admin-nav" aria-label="Navegação administrativa">
  <a href="{% url 'painel' %}"><i class="fa-solid fa-gauge-high"></i> Dashboard</a>
  <a href="{% url 'painel' %}#brinquedos"><i class="fa-solid fa-cubes"></i> Brinquedos</a>
  <a href="{% url 'painel' %}#depoimentos"><i class="fa-solid fa-comments"></i> Depoimentos</a>
  <a href="{% url 'agenda' %}"><i class="fa-solid fa-calendar-days"></i> Agenda</a>
  <a href="{% url 'relatorios' %}"><i class="fa-solid fa-chart-column"></i> Relatórios</a>
  <a href="{% url 'logout' %}" class="admin-nav-sair"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
</nav>
